 <div id='data-div'>
  <div id='data-wrapper'>
    <ul class='collection' id='data-collection'>
      <li onclick='dataOpen(this)' class='collection-item hidden' id='data-template'></li>
    </ul>
  </div>
</div>

<div class="modal" id='data-modal'>
  <div class="modal-content">
    <h4 id='data-header'>Modal Header</h4>
    <p id='modal-content'><div id='plot-div'></div></p>
    <p id='modal-data'><div id='data-impulse'></div></p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    <a href="#!" onclick='setEndpoints(this)' class=" waves-effect waves-green btn-flat">Update Endpoints</a>
  </div>
</div>